<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="nature"
         name="Dee nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.dsource.ddt.ide.core.DeeNature"/>
      </runtime>
   </extension>
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="d, di, dh"
            id="org.dsource.ddt.ide.core.content.dsource"
            name="D Source"
            priority="high">
      </content-type>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
         <!-- Deprecate this in favor of isDeeProject -->
      <definition
            id="org.dsource.ddt.ide.core.expressions.isDeeNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.dsource.ddt.ide.core.nature">
            </test>
         </adapt>
      </definition>
      <definition
            id="org.dsource.ddt.ide.core.expressions.isDeeProject">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.dsource.ddt.ide.core.nature">
            </test>
         </adapt>
      </definition>
      <definition
            id="org.dsource.ddt.ide.core.expressions.isDeeNatureContainer">
         <adapt
               type="org.eclipse.core.resources.IContainer">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.dsource.ddt.ide.core.nature">
            </test>
         </adapt>
      </definition>
      <definition
            id="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject">
         <and>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.dsource.ddt.ide.core.nature">
            </test>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="mmrnmhrm.core.DeeCorePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.dsource.ddt.ide.core.DeeLanguageToolkit"
            nature="org.dsource.ddt.ide.core.nature">
      </language>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="mmrnmhrm.core.model_elements.DeeSourceElementParser"
            nature="org.dsource.ddt.ide.core.nature"
            priority="0">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.dsource.ddt.ide.core.nature">
         <parser
               class="mmrnmhrm.core.engine_client.DeeSourceParserFactory"
               description="%sourceParser.description"
               id="org.dsource.ddt.ide.core.SourceParser"
               name="%sourceParser.name"
               priority="1">
         </parser>
      </parserContribution>
   </extension>
   <extension point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType class="mmrnmhrm.core.compiler_installs.DMDInstallType"
            id="org.dsource.ddt.ide.core.launching.DMDInstallType" />
      <interpreterInstallType class="mmrnmhrm.core.compiler_installs.GDCInstallType"
            id="org.dsource.ddt.ide.core.launching.GDCInstallType" />
      <interpreterInstallType class="mmrnmhrm.core.compiler_installs.LDCInstallType"
            id="org.dsource.ddt.ide.core.launching.LDCInstallType" />
      <interpreterInstallType class="mmrnmhrm.core.compiler_installs.GenericInstallType"
            id="org.dsource.ddt.ide.core.launching.GenericInstallType" />
   </extension>
   <extension
         point="org.eclipse.dltk.launching.interpreterContainerExtension">
      <interpreterContainerExtension
            class="mmrnmhrm.core.compiler_installs.DeeInterpreterContainerExtension"
            nature="org.dsource.ddt.ide.core.nature"
            priority="0">
      </interpreterContainerExtension>
   </extension>
   <extension
         point="org.eclipse.dltk.core.buildpathContainerInitializer">
      <buildpathContainerInitializer
            class="mmrnmhrm.core.projectmodel.DubBuildpathContainer$DubBPContainerInitializer"
            id="org.dsource.ddt.ide.core.DubContainer">
      </buildpathContainerInitializer>
   </extension>
   <extension
         id="DubBuilder"
         name="DUB Build"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="mmrnmhrm.core.build.DubProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="DubProblem"
         name="%DUBProblem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="DubBuildProblem"
         name="%DUBBuildProblem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="DubBuildProblem_DeeSourceProblem"
         name="%DeeProblem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.dsource.ddt.ide.core.DubBuildProblem"/>
      <persistent value="true"/>
   </extension>
   <extension
         name="TODO"
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="mmrnmhrm.core.codeassist.DeeSelectionEngine"
            nature="org.dsource.ddt.ide.core.nature"
            priority="0">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="mmrnmhrm.core.codeassist.DeeCompletionEngine"
            nature="org.dsource.ddt.ide.core.nature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.search">
      <searchFactory
            class="mmrnmhrm.core.search.DeeSearchFactory"
            nature="org.dsource.ddt.ide.core.nature">
      </searchFactory>
      <matchLocator
            class="mmrnmhrm.core.search.DeeMatchLocator"
            nature="org.dsource.ddt.ide.core.nature">
      </matchLocator>
   </extension>
   <!--
   <extension
         point="org.eclipse.dltk.core.builder">
      <builder
            class="mmrnmhrm.core.build.DeeDLTKScriptBuilder"
            nature="org.dsource.ddt.ide.core.nature">
      </builder>
   </extension>
   -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="mmrnmhrm.core.launch.DeeLaunchConfigurationDelegate"
            id="org.dsource.ddt.ide.core.deeLaunchConfigurationType"
            modes="run"
            name="%localDeeApplication">
      </launchConfigurationType>
   </extension>
   <extension
         id="org.dsource.ddt.ide.core.hierarchyResolverTODO"
         point="org.eclipse.dltk.core.fileHierarchyResolvers">
      <fileHierarchyResolver
            class="mmrnmhrm.core.search.DeeFileHierarchyResolver"
            nature="org.dsource.ddt.ide.core.nature"
            priority="0">
      </fileHierarchyResolver>
   </extension>

</plugin>
