<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
	<extension point="org.eclipse.core.resources.natures"
		id="nature"
		name="Dee nature">
		<runtime>
			<run class="org.dsource.ddt.ide.core.DeeNature"/>
		</runtime>
	</extension>
	
	<extension point="org.eclipse.core.expressions.definitions">
         <!-- Deprecate this in favor of isDeeProject -->
      <definition id="org.dsource.ddt.ide.core.expressions.isDeeNature">
         <adapt type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.dsource.ddt.ide.core.nature">
            </test>
         </adapt>
      </definition>
      
      <definition id="org.dsource.ddt.ide.core.expressions.isDeeProject">
         <adapt type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.dsource.ddt.ide.core.nature">
            </test>
         </adapt>
      </definition>
      
      <definition id="org.dsource.ddt.ide.core.expressions.isDeeNatureContainer">
         <adapt type="org.eclipse.core.resources.IContainer">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.dsource.ddt.ide.core.nature">
            </test>
         </adapt>
      </definition>
		
		<definition id="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject">
			<and>
				<instanceof value="org.eclipse.core.resources.IResource" />
				<test
					property="org.eclipse.core.resources.projectNature"
					value="org.dsource.ddt.ide.core.nature">
				</test>
			</and>
		</definition>
	</extension>
	
	<!-- ============ TEXT ============= -->
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			default-charset="UTF-8"
			file-extensions="d, di, dh"
			id="org.dsource.ddt.ide.core.content.dsource"
			name="D Source"
			priority="high">
		</content-type>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.documentSetup"
		id="DeeDocumentSetupParticipant"
		name="D Document Setup Participant">
		<participant
			class="mmrnmhrm.core.text.DeeDocumentSetupParticipant"
			contentTypeId="org.dsource.ddt.ide.core.content.dsource">
		</participant>
	</extension>
	
	
	<!-- ============ BUILDER/PROBLEMS ============= -->
	
	<extension point="org.eclipse.core.resources.builders"
		id="DubBuilder"
		name="DUB Build">
		<builder 
			callOnEmptyDelta="true">
			<run class="mmrnmhrm.core.build.DubProjectBuilder" />
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.markers"
		id="build_problem"
		name="%ProblemMarker_Name">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="false"/>
	</extension>
	
	<extension point="org.eclipse.core.resources.markers"
		id="source_problem"
		name="%ProblemMarker_Name">
		<super type="org.dsource.ddt.ide.core.build_problem"/>
		<persistent value="false"/>
	</extension>
	
	<extension point="org.eclipse.core.resources.markers"
		id="DubProblem"
		name="%DUBProblem">
		<super type="org.dsource.ddt.ide.core.build_problem"/>
		<persistent value="false"/>
	</extension>
	
	<!-- ============ Launch configuration type ============= -->
	
	<extension
		 point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			 delegate="mmrnmhrm.core.launch.DeeLaunchConfigurationDelegate"
			 id="org.dsource.ddt.ide.core.deeLaunchConfigurationType"
			 modes="run"
			name="%localApplication">
		</launchConfigurationType>
	</extension>
	
</plugin>
