<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image
			icon="icons/project_overlay.png"
			id="org.dsource.ddt.ide.ui.deeProjectNatureImage"
			natureId="org.dsource.ddt.ide.core.nature"/>
	</extension>
	
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="mmrnmhrm.ui.views.DeePerspective"
			icon="icons/views/Perspective.png"
			id="org.dsource.ddt.ide.ui.DeePerspective"
			name="%LangPerspective.name">
		</perspective>
	</extension>
	
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.dsource.ddt.ide.ui.DeePerspective">
		<showInPart id="org.eclipse.ui.navigator.ProjectExplorer" />
		</perspectiveExtension>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="mmrnmhrm.ui.DeeUIPreferenceInitializer"/>
	</extension>
	
	<!-- ============ EDITOR ============= -->
	
	<extension point="org.eclipse.ui.editors">
		<editor
			class="mmrnmhrm.ui.editor.DeeEditor"
			contributorClass="mmrnmhrm.ui.editor.DeeEditorActionContributor"
			default="true"
			icon="icons/views/SourceEditor.png"
			id="org.dsource.ddt.ide.ui.editors.DeeEditor"
			name="%LangEditor.name">
			<contentTypeBinding contentTypeId="org.dsource.ddt.ide.core.content.dsource" />
		</editor>
	</extension>
	
	<extension point="org.eclipse.ui.contexts">
		<context
			name="%LangEditContext.name"
			description="%LangEditContext.description"
			parentId="org.eclipse.ui.textEditorScope"
			id="org.dsource.ddt.ide.ui.Contexts.Editor">
		</context>
	</extension>
	
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.dsource.ddt.ide.ui.expressions.InContext">
			<or>
				<with variable="activeEditorId"> 
					<equals value="org.dsource.ddt.ide.ui.editors.DeeEditor"/> 
				</with>
				<with variable="activeWorkbenchWindow.activePerspective"> 
					<equals value="org.dsource.ddt.ide.ui.DeePerspective"/> 
				</with>
			</or>
		</definition>
	</extension>
	
	<!-- ============ EDITOR - Other ============= -->
	
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target 
			id="org.dsource.ddt.ide.ui.texteditor.deeCodeTarget"
			name="%hyperlinkDetector.target.name">
			<context type="org.eclipse.ui.texteditor.ITextEditor" />
		</target>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="mmrnmhrm.ui.editor.text.DeeHyperlinkDetector"
			id="org.dsource.ddt.ide.ui.editor.text.DeeHyperlinkDetector"
			name="%hyperlinkDetector.name"
			targetId="org.dsource.ddt.ide.ui.texteditor.deeCodeTarget">
		</hyperlinkDetector>
	</extension>
	
	<extension point="org.eclipse.ui.editors.templates">
		<contextType
			class="mmrnmhrm.ui.editor.templates.DeeTemplateContextType"
			id="DeeUniversalTemplateContextType"
			name="%LangTemplateContext.name">
		</contextType>
		<include
			file="templates/default-templates.xml"
			translations="templates/default-templates.properties">
		</include>
	</extension>
	
	<!-- ============ Actions/Commands ============= -->
	
	<extension point="org.eclipse.ui.commands">
		<category
			description="%LangCommandCategory.description"
			id="org.dsource.ddt.ide.ui.commands.Category"
			name="%LangCommandCategory.name">
		</category>
		
		<command
			categoryId="org.dsource.ddt.ide.ui.commands.Category"
			description="%OpenDefinitionAction.tooltip"
			id="org.dsource.ddt.ide.ui.commands.openDefinition"
			name="%OpenDefinitionAction.name">
		</command>
		
		<command categoryId="org.dsource.ddt.ide.ui.commands.Category"
			id="org.dsource.ddt.ide.ui.commands.GoToMatchingBracket"
			name="%GoToMatchingBracketAction.name"
			description="%GoToMatchingBracketAction.description"
		/>
		
		<command categoryId="org.dsource.ddt.ide.ui.commands.Category"
			id="org.dsource.ddt.ide.ui.commands.ToggleComment"
			name="%ToggleCommentAction.name"
			description="%ToggleCommentAction.description"
		/>
		
		<command 
			categoryId="org.dsource.ddt.ide.ui.commands.Category"
			id="org.dsource.ddt.ide.ui.commands.QuickOutline"
			name="%QuickOutlineAction.name"
			description="%QuickOutlineAction.description"
		/>
		
		<command
			categoryId="org.dsource.ddt.ide.ui.commands.Category"
			defaultHandler="mmrnmhrm.ui.actions.DeeOpenTypeHandler"
			description="%OpenTypeAction.tooltip"
			id="org.dsource.ddt.ide.ui.commands.openDeeType"
			name="%OpenTypeAction.name"
		/>
		
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="org.dsource.ddt.ide.ui.commands.openDefinition"
			contextId="org.dsource.ddt.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="F3">
		</key>
		<key
			commandId="org.dsource.ddt.ide.ui.commands.GoToMatchingBracket"
			contextId="org.dsource.ddt.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+P">
		</key>
		<key
			commandId="org.dsource.ddt.ide.ui.commands.ToggleComment"
			contextId="org.dsource.ddt.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+C">
		</key>
		<key
			commandId="org.dsource.ddt.ide.ui.commands.ToggleComment"
			contextId="org.dsource.ddt.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+/">
		</key>
		
		<key
			commandId="org.dsource.ddt.ide.ui.commands.QuickOutline"
			contextId="org.dsource.ddt.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+O">
		</key>
		
		<key
			commandId="org.dsource.ddt.ide.ui.commands.openDeeType"
			contextId="org.dsource.ddt.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+T">
		</key>
	</extension>
	
	<!-- ________ Menu/UI contributions ________ -->
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=edit">
			<menu
				id="org.dsource.ddt.ide.ui.sourceMenu"
				label="Source"
				mnemonic="S">
				<separator name="comment" visible="true"/>
				<separator name="format" visible="true"/>
				<separator name="additions" visible="true"/>
			</menu>
		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:navigate?after=open.ext2">
			<command commandId="org.dsource.ddt.ide.ui.commands.openDeeType"
				icon="icons/action16e/opentype.gif"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.dsource.ddt.ide.ui.expressions.InContext" />
				</visibleWhen>
			</command>
		</menuContribution>
		
		<menuContribution locationURI="toolbar:org.eclipse.ui.edit.text.actionSet.presentation?after=Presentation">
			<command commandId="org.dsource.ddt.ide.ui.commands.openDeeType"
				icon="icons/action16e/opentype.gif"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.dsource.ddt.ide.ui.expressions.InContext" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
	<!-- ============ Preference pages ============= -->
	
	<extension point="org.eclipse.ui.keywords">
		<keyword id="org.dsource.ddt.ide.ui.RootPreferencePage" 
		                            label="%RootPreferencePage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.EditorPreferencePage"
		                            label="%EditorPreferencePage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.EditorTypingPreferencePage"
		                            label="%EditorTypingPreferencePage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.EditorSyntaxColoringPreferencePage"
		                            label="%EditorSyntaxColoringPreferencePage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.ContentAssistPreferencePage"
		                            label="%ContentAssistPreferencePage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.CodeTemplatesPreferencePage"
		                            label="%CodeTemplatesPreferencePage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.EditorFoldingPreferencePage"
		                            label="%EditorFoldingPreferencePage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.DaemonToolPrefPage"
		                            label="%DaemonToolPrefPage.keywords"/>
		<keyword id="org.dsource.ddt.ide.ui.ToolsConsolePrefPage"
		                            label="%ToolsConsolePrefPage.keywords"/>
	</extension>
	
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.dsource.ddt.ide.ui.PreferencePages.Root"
			class="mmrnmhrm.ui.preferences.pages.DeeRootPreferencePage"
			name="%RootPreferencePage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.RootPreferencePage"/>
		</page>
		
		<page
			category="org.dsource.ddt.ide.ui.PreferencePages.Root"
			id=      "org.dsource.ddt.ide.ui.PreferencePages.DeeToolsConsole"
			class="mmrnmhrm.ui.preferences.DeeToolsConsolePrefPage"
			name="%ToolsConsolePrefPage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.ToolsConsolePrefPage"/>
		</page>
		
		<page
			category="org.dsource.ddt.ide.ui.PreferencePages.Root"
			id=      "org.dsource.ddt.ide.ui.PreferencePages.Editor"
			class="mmrnmhrm.ui.preferences.pages.DeeEditorPreferencePage"
			name="%EditorPreferencePage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.EditorPreferencePage"/>
		</page>
		<page
			category="org.dsource.ddt.ide.ui.PreferencePages.Editor"
			id=      "org.dsource.ddt.ide.ui.PreferencePages.Editor.Typing"
			class="mmrnmhrm.ui.preferences.pages.DeeEditorTypingPreferencePage"
			name="%EditorTypingPreferencePage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.EditorTypingPreferencePage"/>
		</page>
		<page
			category="org.dsource.ddt.ide.ui.PreferencePages.Editor"
			id=      "org.dsource.ddt.ide.ui.PreferencePages.Editor.SourceColoring"
			class="mmrnmhrm.ui.preferences.pages.DeeSourceColoringPreferencePage"
			name="%EditorSyntaxColoringPreferencePage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.EditorSyntaxColoringPreferencePage"/>
		</page>
		
		<page
			category="org.dsource.ddt.ide.ui.PreferencePages.Editor"
			id=      "org.dsource.ddt.ide.ui.PreferencePages.Editor.ContentAssist"
			class="mmrnmhrm.ui.preferences.pages.DeeContentAssistPreferencePage"
			name="%ContentAssistPreferencePage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.ContentAssistPreferencePage"/>
		</page>
		<page
			category="org.dsource.ddt.ide.ui.PreferencePages.Editor"
			id=      "org.dsource.ddt.ide.ui.PreferencePages.Editor.CodeTemplates"
			class="mmrnmhrm.ui.preferences.pages.DeeTemplatePreferencePage"
			name="%CodeTemplatesPreferencePage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.CodeTemplatesPreferencePage"/>
		</page>
      <page
            category="org.dsource.ddt.ide.ui.PreferencePages.Editor"
            id=      "org.dsource.ddt.ide.ui.PreferencePages.Editor.Folding"
            class="mmrnmhrm.ui.preferences.pages.DeeFoldingPreferencePage"
            name="%EditorFoldingPreferencePage.name">
			<keywordReference id="org.dsource.ddt.ide.ui.EditorFoldingPreferencePage"/>
      </page>
	</extension>
	
	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="mmrnmhrm.ui.preferences.pages.DubOptionsPropertyPage"
			id="org.dsource.ddt.ide.ui.properties.DeeCompileOptionsProperties"
			name="%LangBuildOptionsPropertyPage.name">
			<enabledWhen> 
				<reference definitionId="org.dsource.ddt.ide.core.expressions.isDeeNature" />
			</enabledWhen>
		</page>
	</extension>
	
	<!-- ============ Wizards ============= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="org.dsource.ddt.ide.category"
			name="%LangWizardsCategory.name"/>
		<wizard
			category="org.dsource.ddt.ide.category"
			class="mmrnmhrm.ui.wizards.DeeProjectWizard"
			icon="icons/action16e/newprj_wiz.gif"
			id="org.dsource.ddt.ide.ui.wizards.NewProjectWizard"
			name="%NewProjectWizard.name"
			finalPerspective="org.dsource.ddt.ide.ui.DeePerspective"
			preferredPerspectives="org.dsource.ddt.ide.ui.DeePerspective"
			project="true">
		</wizard>
	</extension>
	
	
	<!-- ============ Navigator extensions ============= -->
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			activeByDefault="true"
			contentProvider="mmrnmhrm.ui.navigator.DeeNavigatorContentProvider"
			icon="icons/views/Perspective.png"
			id="org.dsource.ddt.ide.ui.DubNavigatorContent"
			labelProvider="mmrnmhrm.ui.navigator.DeeNavigatorLabelProvider"
			name="Dub Elements"
			priority="highest">
			
			<!-- 
			 Priority needs to be highest, because we could be competing with other plugins like JDT or CDT,
			 which have triggerPoints for any IResource regardless of project nature:
			 While that doesn't affect the content providers, it affects the common sorter, 
			 and that's important since we want to sort IResource's.
			 Also, triggerPoints has to match the children we want to sort, not just the parent of the children, 
			 so we can't just use expressions.isLangProject 
			-->
			<triggerPoints>
				<or><reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject"/></or>
			</triggerPoints>
			<!-- 
			 Despite what the documentation currently says, possibleChildren is queried by Navigator service 
			 to find out whether to use label provider or not, regardless of trigger points. 
			 Therefore we should ensure possible children only aplies to D projects. 
			 See: https://bugs.eclipse.org/bugs/show_bug.cgi?id=429572
			 -->
			<possibleChildren>
				<or>
					<reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject" />
					<instanceof value="mmrnmhrm.core.workspace.viewmodel.IDeeNavigatorElement" />
				</or>
			</possibleChildren>
			
			<commonSorter class="mmrnmhrm.ui.navigator.DeeNavigatorSorter">
				<parentExpression>
					<or>
						<reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject" />
						<instanceof value="mmrnmhrm.core.workspace.viewmodel.IDeeNavigatorElement" />
					</or>
				</parentExpression>
			</commonSorter>
			
			<actionProvider class="mmrnmhrm.ui.navigator.DeeNavigatorActionProvider"/>
		</navigatorContent>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes><contentExtension pattern="org.dsource.ddt.ide.ui.DubNavigatorContent"/></includes>
		</viewerContentBinding>
	</extension>
	
	
	<!-- ============ Launch ============= -->
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="org.dsource.ddt.ide.core.deeLaunchConfigurationType"
			icon="$nl$/icons/action16e/d_app_launch.png"
			id="org.dsource.ddt.ide.ui.launchConfigurationTypeImage1">
		</launchConfigurationTypeImage>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.dsource.ddt.ui.tabgroup.DeeTabGroup"
			description="%LangTabGroup.description"
			id="org.dsource.ddt.ide.ui.launchConfigurationTabGroup1"
			type="org.dsource.ddt.ide.core.deeLaunchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="mmrnmhrm.ui.launch.DeeLaunchShortcut"
            description="%LangLaunchShortcut.description"
            icon="$nl$/icons/action16e/d_app_launch.png"
            id="org.dsource.ddt.ide.ui.launch.launchShortcut"
            label="%LangLaunchShortcut.name"
            modes="run, debug">
         <description 
            description="%LangLaunchShortcut.runDescription"
            mode="run">
         </description>
         <description
            description="%LangLaunchShortcut.debugDescription"
            mode="debug">
         </description>

         <configurationType
            id="org.dsource.ddt.ide.core.deeLaunchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count value="1" />
                  <iterate>
                     <or>
                     	<and>
	                        <instanceof value="org.eclipse.ui.IEditorInput" />
	                        <adapt type="org.eclipse.core.resources.IResource">
	                           <reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject" />
	                        </adapt>
                     	</and>
                        <adapt type="org.eclipse.core.resources.IFile">
                           <test property="org.eclipse.core.resources.name" value="*.exe" />
                        </adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
                           <reference definitionId="org.dsource.ddt.ide.core.expressions.isDeeNature" />
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
