<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
       point="org.eclipse.dltk.ui.language">
      <language
          class="mmrnmhrm.ui.DeeUILanguageToolkit"
          nature="org.dsource.ddt.ide.core.nature"
          priority="0"/>
   </extension>
   
   <extension
         id="DeeDocumentSetupParticipant"
         name="D Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="mmrnmhrm.ui.text.DeeDocumentSetupParticipant"
            contentTypeId="org.dsource.ddt.ide.core.content.dsource">
      </participant>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/d-dark_ovr.gif"
            id="org.dsource.ddt.ide.ui.deeProjectNatureImage"
            natureId="org.dsource.ddt.ide.core.nature"/>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="mmrnmhrm.ui.DeeUIPreferenceInitializer"/>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective
          class="mmrnmhrm.ui.views.DeePerspective"
          icon="icons/view16/ddt_persp.png"
          id="org.dsource.ddt.ide.ui.DeePerspective"
          name="%LangPerspective.name">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.dsource.ddt.ide.category"
            name="%LangWizardsCategory.name"/>
      <wizard
            category="org.dsource.ddt.ide.category"
            class="mmrnmhrm.ui.wizards.DeeProjectWizard"
            finalPerspective="org.dsource.ddt.ide.ui.DeePerspective"
            icon="icons/action16e/newprj_wiz.gif"
            id="org.dsource.ddt.ide.ui.wizards.deeProjectWizard"
            name="%NewProjectWizard.name"
            preferredPerspectives="org.dsource.ddt.ide.ui.DeePerspective"
            project="true">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="mmrnmhrm.ui.preferences.pages.DubOptionsPropertyPage"
            id="org.dsource.ddt.ide.ui.properties.DeeCompileOptionsProperties"
            name="%LangBuildOptionsPropertyPage.name">
         <enabledWhen>
            <reference definitionId="org.dsource.ddt.ide.core.expressions.isDeeNature" />
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mmrnmhrm.ui.preferences.pages.DeeRootPreferencePage"
            id="org.dsource.ddt.ide.ui.preferences.DeeRootPreferencePage"
            name="%LangPreferencePage.name"/>
      <page
             category="org.dsource.ddt.ide.ui.preferences.DeeRootPreferencePage"
             class="mmrnmhrm.ui.preferences.pages.DeeAppearancePreferencePage"
             id="org.dsource.ddt.ide.ui.preferences.Appearance"
             name="%LangAppearancePreferencePage.name"/>
      <page
             category="org.dsource.ddt.ide.ui.preferences.DeeRootPreferencePage"
             class="mmrnmhrm.ui.preferences.pages.DeeDubPreferencePage"
             id="org.dsource.ddt.ide.ui.preferences.Dub"
             name="%DeeDubPreferencePage.name"/>
      <page
             category="org.dsource.ddt.ide.ui.preferences.DeeRootPreferencePage"
             class="mmrnmhrm.ui.preferences.pages.DeeEditorPreferencePage"
             id="org.dsource.ddt.ide.ui.preferences.Editor"
             name="%LangEditorPreferencePage.name"/>
      <page
             category="org.dsource.ddt.ide.ui.preferences.Editor"
             class="mmrnmhrm.ui.preferences.pages.DeeEditorSmartTypingPreferencePage"
             id="org.dsource.ddt.ide.ui.preferences.Editor.typing"
             name="%LangEditorTypingPreferencePage.name">
      </page>
      <page
             category="org.dsource.ddt.ide.ui.preferences.Editor"
             class="mmrnmhrm.ui.preferences.pages.DeeSourceColoringPreferencePage"
             id="org.dsource.ddt.ide.ui.preferences.editor.SourceColoring"
             name="%LangEditorSyntaxColoringPreferencePage.name"/>
      <page
           category="org.dsource.ddt.ide.ui.preferences.Editor"
           class="mmrnmhrm.ui.preferences.pages.DeeEditorContentAssistPreferencePage"
           id="org.dsource.ddt.ide.ui.preferences.editor.ContentAssist"
           name="%LangContentAssistPreferencePage.name">
      </page>
      <page
              category="org.dsource.ddt.ide.ui.preferences.Editor"
              class="mmrnmhrm.ui.preferences.pages.DeeTemplatePreferencePage"
              id="org.dsource.ddt.ide.ui.preferences.editor.CodeTemplates"
              name="%LangCodeTemplatesPreferencePage.name" />
      <page
            category="org.dsource.ddt.ide.ui.preferences.Editor"
            class="mmrnmhrm.ui.preferences.pages.DeeFoldingPreferencePage"
            id="org.dsource.ddt.ide.ui.preferences.editor.Folding"
            name="%LangEditorFoldingPreferencePage.name">
      </page>
      <page
            category="org.dsource.ddt.ide.ui.preferences.DeeRootPreferencePage"
            class="mmrnmhrm.ui.preferences.pages.DeeCompilersPreferencePage"
            id="org.dsource.ddt.ide.ui.preferences.DeeCompilers"
            name="%LangCompilersPreferencePage.name">
      </page>
   </extension>
   
   <!-- ============ EDITOR related ============= -->

   <extension point="org.eclipse.ui.editors">
      <editor
         class="mmrnmhrm.ui.editor.DeeEditor"
         contributorClass="mmrnmhrm.ui.editor.DeeEditorActionContributor"
         default="true"
         icon="icons/obj16/dee_file.gif"
         id="org.dsource.ddt.ide.ui.editors.DeeEditor"
         name="%LangEditor.name">
         <contentTypeBinding contentTypeId="org.dsource.ddt.ide.core.content.dsource">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension point="org.eclipse.ui.contexts">
      <context
            name="%LangEditContext.name"
            description="%LangEditContext.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.dsource.ddt.ide.ui.contexts.DeeEditor">
      </context>
   </extension>
   
   <extension
       id="DeeCodeCompletionProposalComputer"
       point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
        activate="false"
        categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
        class="mmrnmhrm.ui.editor.codeassist.DeeCompletionProposalComputer"
        toolkitId="org.dsource.ddt.ide.core.nature">
         <partition type="__dftl_partition_content_type"/>
      </scriptCompletionProposalComputer>
   </extension>
   <extension point="org.eclipse.dltk.ui.completion">
      <proposalLabelProvider
          class="mmrnmhrm.ui.editor.codeassist.DeeCompletionProposalLabelProvider"
          nature="org.dsource.ddt.ide.core.nature">
      </proposalLabelProvider>
   </extension>

   <extension point="org.eclipse.ui.editors.templates">
      <contextType
             class="mmrnmhrm.ui.editor.templates.DeeUniversalTemplateContextType"
             id="DeeUniversalTemplateContextType"
             name="%LangTemplateContext.name">
      </contextType>
      <include
             file="templates/default-templates.xml"
             translations="templates/default-templates.properties">
      </include>
   </extension>
   <extension point="org.eclipse.dltk.ui.folding">
      <structureProvider
           class="org.eclipse.dltk.ui.text.folding.DelegatingFoldingStructureProvider"
           nature="org.dsource.ddt.ide.core.nature">
      </structureProvider>
      <blockProvider
           class="mmrnmhrm.ui.editor.folding.DeeCommentFoldingBlockProvider"
           nature="org.dsource.ddt.ide.core.nature">
      </blockProvider>
      <blockProvider
           class="mmrnmhrm.ui.editor.folding.DeeCodeFoldingBlockProvider"
           nature="org.dsource.ddt.ide.core.nature">
      </blockProvider>
   </extension>
   
   <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="org.dsource.ddt.ide.ui.texteditor.deeCodeTarget"
            name="%hyperlinkDetector.target.name">
         <context type="org.eclipse.ui.texteditor.ITextEditor">
         </context>
      </target>
   </extension>
   <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="mmrnmhrm.ui.editor.text.DeeHyperlinkDetector"
            id="org.dsource.ddt.ide.ui.editor.text.DeeHyperlinkDetector"
            name="%hyperlinkDetector.name"
            targetId="org.dsource.ddt.ide.ui.texteditor.deeCodeTarget">
      </hyperlinkDetector>
   </extension>
   
   <!-- ============ other extensions ============= -->
   
   <extension
        point="org.eclipse.dltk.ui.modelLabelProvider">
      <modelLabelProvider
           class="mmrnmhrm.ui.views.DeeModelElementLabelProvider"
           id="org.dsource.ddt.ide.ui.modelLabelProvider"
           language="org.dsource.ddt.ide.core.nature">
      </modelLabelProvider>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="mmrnmhrm.ui.navigator.DubNavigatorContentProvider"
            icon="icons/view16/ddt_persp.png"
            id="org.dsource.ddt.ide.ui.DubNavigatorContent"
            labelProvider="mmrnmhrm.ui.navigator.DubNavigatorLabelProvider"
            name="Dub Elements"
            priority="highest">
    <!-- 
    Priority needs to be highest, because we could be competing with other plugins like JDT or CDT,
    which have triggerPoints for any IResource regardless of project nature:
    While that doesn't affect the content providers, it affects the common sorter, since we want to sort IResource's.
    Also, triggerPoints has to match the children we want to sort, not just the parent of the children, 
    so we can't use just expressions.isDeeProject 
    -->
         <triggerPoints>
            <or>
               <reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject"/>
            </or>
         </triggerPoints>
	 <!-- 
	 Despite what the documentation currently says, possibleChildren is queried by Navigator service 
	 to find out whether to use label provider or not, regardless of trigger points. 
	 Therefore we should ensure possible children only aplies to D projects. 
	 See: https://bugs.eclipse.org/bugs/show_bug.cgi?id=429572
	 -->
         <possibleChildren>
            <or>
               <instanceof value="mmrnmhrm.core.projectmodel.elements.IDubElement" />
               <reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject" />
            </or>
         </possibleChildren>
         <commonSorter class="mmrnmhrm.ui.navigator.DubNavigatorSorter">
            <parentExpression>
               <or>
                  <reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject"/>
                  <and>
                     <instanceof value="mmrnmhrm.core.projectmodel.elements.IDubElement" />
                     <not>
                        <instanceof value="mmrnmhrm.core.projectmodel.elements.DubDepSourceFolderElement" />
                     </not>
                  </and>
               </or>
            </parentExpression>
         </commonSorter>
         <actionProvider class="mmrnmhrm.ui.navigator.DubNavigatorActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>

   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.dsource.ddt.ide.ui.DubNavigatorContent" />
         </includes>
      </viewerContentBinding>
   </extension>
   
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="mmrnmhrm.ui.search.DeeSearchPage"
            enabled="true"
            extensions="d,di,dh:90"
            icon="icons/action16e/d_search.png"
            id="org.dsource.ddt.ide.ui.DeeSearchPage"
            label="%LangSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.dsource.ddt.ide.ui"
            name="%LangViewsCategory.name"/>
      <view
            category="org.dsource.ddt.ide.ui"
            class="mmrnmhrm.ui.views.ASTViewer"
            icon="icons/action16e/extra/sample.gif"
            id="org.dsource.ddt.ide.ui.views.ASTViewer"
            name="DDT AST Viewer"/>
   </extension>
   
   
   <!-- ============ commands/actions ============= -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%LangCommandCategory.description"
            id="org.dsource.ddt.ide.ui.commands.category1"
            name="%LangCommandCategory.name">
      </category>
      <command
       categoryId="org.dsource.ddt.ide.ui.commands.category1"
       description="%OpenDefinitionAction.tooltip"
       id="org.dsource.ddt.ide.ui.commands.openDefinition"
       name="%OpenDefinitionAction.name">
      </command>
      <command
       categoryId="org.dsource.ddt.ide.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeOpenTypeHandler"
       description="%OpenTypeAction.tooltip"
       id="org.dsource.ddt.ide.ui.commands.openDeeType"
       name="%OpenTypeAction.name">
      </command>

      <command
       categoryId="org.dsource.ddt.ide.ui.commands.category1"
       description="%OpenTypeInHierarchyAction.tooltip"
       id="org.dsource.ddt.ide.ui.commands.openDeeTypeInHierarchy"
       name="%OpenTypeInHierarchyAction.name">
      </command>

      <command
       categoryId="org.dsource.ddt.ide.ui.commands.category1"
       defaultHandler="mmrnmhrm.ui.actions.DeeOpenSearchPageHandler"
       description="%OpenLangSearchPageAction.tooltip"
       id="org.dsource.ddt.ide.ui.commands.openDeeSearchPage"
       name="%OpenLangSearchPageAction.name">
      </command>
<!--
      <command
            categoryId="org.dsource.ddt.ide.ui.commands.category1"
            defaultHandler="mmrnmhrm.ui.actions.SampleTest1Handler"
            id="org.dsource.ddt.ide.ui.commands.sampleCommand"
            name="Test Action">
      </command>
-->
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.dsource.ddt.ide.ui.commands.openDefinition"
            contextId="org.dsource.ddt.ide.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="org.dsource.ddt.ide.ui.commands.openDeeType"
            contextId="org.dsource.ddt.ide.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
      <key
            commandId="org.dsource.ddt.ide.ui.commands.openDeeTypeInHierarchy"
            contextId="org.dsource.ddt.ide.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+H">
      </key>
      <key
            commandId="org.eclipse.dltk.ui.edit.text.script.search.references.in.workspace"
            contextId="org.dsource.ddt.ide.ui.contexts.DeeEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+G">
      </key>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%LangActionSet.description"
            id="org.dsource.ddt.ide.ui.DeeActionSet"
            label="%LangActionSet.label"
            visible="false">

         <action
               class="mmrnmhrm.ui.actions.OpenDefinitionAction"
               definitionId="org.dsource.ddt.ide.ui.commands.openDefinition"
               icon="icons/action16e/gotodef.gif"
               id="org.dsource.ddt.ide.ui.actions.openDefinition"
               label="%OpenDefinitionAction.label"
               menubarPath="navigate/open.ext"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               tooltip="%OpenDefinitionAction.tooltip">
         </action>
         <action
            definitionId="org.dsource.ddt.ide.ui.commands.openDeeType"
            class="mmrnmhrm.ui.actions.DeeOpenTypeAction"
            icon="icons/action16e/opentype.gif"
            id="org.dsource.ddt.ide.ui.actions.openType"
            label="%OpenTypeAction.label"
            menubarPath="navigate/open.ext2"
            toolbarPath="org.eclipse.search.searchActionSet/Search"
            tooltip="%OpenTypeAction.tooltip">
         </action>

         <menu
               label="%SearchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
            <groupMarker name="dialogGroup"/>
         </menu>

         <action
               class="mmrnmhrm.ui.actions.DeeOpenSearchPageAction"
               definitionId="org.dsource.ddt.ide.ui.commands.openDeeSearchPage"
               icon="icons/action16e/d_search.png"
               id="org.dsource.ddt.ide.ui.actions.deeOpenSearchPage"
               label="%OpenLangSearchPageAction.label"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               tooltip="%OpenLangSearchPageAction.tooltip">
         </action>

      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part id="org.dsource.ddt.ide.ui.editors.DeeEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.dsource.ddt.ide.ui.DeeActionSet">
         <part id="org.dsource.ddt.ide.ui.editors.DeeEditor"/>
      </actionSetPartAssociation>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.dsource.ddt.ide.ui.DeePerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
         <actionSet id="org.dsource.ddt.ide.ui.DeeActionSet" />
      </perspectiveExtension>
   </extension>
   
   <!-- ============ Launch ============= -->

   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.dsource.ddt.ide.core.deeLaunchConfigurationType"
            icon="$nl$/icons/action16e/d_app_launch.png"
            id="org.dsource.ddt.ide.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.dsource.ddt.ui.tabgroup.DeeTabGroup"
            description="%LangTabGroup.description"
            id="org.dsource.ddt.ide.ui.launchConfigurationTabGroup1"
            type="org.dsource.ddt.ide.core.deeLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.debug.ui.launchActionSet">
         <part id="org.dsource.ddt.ide.ui.editors.DeeEditor" />
      </actionSetPartAssociation>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="mmrnmhrm.ui.launch.DeeLaunchShortcut"
            description="%LangLaunchShortcut.description"
            icon="$nl$/icons/action16e/d_app_launch.png"
            id="org.dsource.ddt.ide.ui.launch.launchShortcut"
            label="%LangLaunchShortcut.name"
            modes="run, debug">
         <description 
            description="%LangLaunchShortcut.runDescription"
            mode="run">
         </description>
         <description
            description="%LangLaunchShortcut.debugDescription"
            mode="debug">
         </description>

         <configurationType
            id="org.dsource.ddt.ide.core.deeLaunchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count value="1" />
                  <iterate>
                     <or>
                     	<and>
	                        <instanceof value="org.eclipse.ui.IEditorInput" />
	                        <adapt type="org.eclipse.core.resources.IResource">
	                           <reference definitionId="org.dsource.ddt.ide.core.expressions.isResourceInDeeProject" />
	                        </adapt>
                     	</and>
                        <adapt type="org.eclipse.core.resources.IFile">
                           <test property="org.eclipse.core.resources.name" value="*.exe" />
                        </adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
                           <reference definitionId="org.dsource.ddt.ide.core.expressions.isDeeNature" />
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
