<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="DDT Target" sequenceNumber="19">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.7.2.M20120208-0800"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.7.1.v20120127-1122"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.7.0.v20120127-1122"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.dltk.core.feature.group" version="3.0.0.v20101211-0331-7l-2ED-z0UkhYdtV3_LBO"/>
<repository location="http://download.eclipse.org/technology/dltk/updates-dev/3.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
<unit id="org.junit.source" version="4.10.0.v4_10_0_v20120426-0900"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120726065500/repository/"/>
</location>
</locations>
</target>
