<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.dsource.ddt.debug.core.DeeSourceLookupDirector"
            id="org.dsource.ddt.ide.debug.sourceLocator"
            name="D Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.dsource.ddt.debug.core.DeeDebugLaunchConfigurationDelegate"
            id="org.dsource.ddt.ide.debug.launchDelegate"
            modes="debug"
            sourceLocatorId="org.dsource.ddt.ide.debug.sourceLocator"
            type="org.dsource.ddt.ide.core.deeLaunchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.dsource.ddt.debug.ui.DeeDebugTabGroup"
            description="Debug a D application"
            id="org.dsource.ddt.debug.ui.launchConfigurationTabGroup_debug"
            type="org.dsource.ddt.ide.core.deeLaunchConfigurationType">
         <launchMode
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
      <toggleTargetFactory
            class="org.dsource.ddt.debug.ui.DeeToggleBreakpointsTargetFactory"
            id="org.dsource.ddt.ide.debug.toggleTargetFactory">
         <enablement>
            <instanceof
                  value="mmrnmhrm.ui.editor.DeeEditor">
            </instanceof>
         </enablement>
      </toggleTargetFactory>
   </extension>

</plugin>
